<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <ecmDataProvider defaultProvider="sql" patch:source="Sitecore.EmailExperience.Core.config">
      <providers>
        <clear/>
        <add name="sql" type="Sitecore.Support.Modules.EmailCampaign.Core.Data.SqlDbEcmDataProvider, Sitecore.Support.218085" connectionStringName="exm.master" commandTimeout="00:05:00">
          <Logger type="Sitecore.ExM.Framework.Diagnostics.Logger, Sitecore.ExM.Framework" factoryMethod="get_Instance"/>
        </add>
      </providers>
    </ecmDataProvider>
    <exm>
      <master>
        <databaseTaskProvider type="Sitecore.Support.ExM.Framework.DataProviders.SqlDatabaseTaskProvider, Sitecore.Support.218085" singleInstance="true" patch:instead="*[@type='Sitecore.ExM.Framework.DataProviders.SqlDatabaseTaskProvider,Sitecore.ExM.Framework']">
          <param desc="connectionStringName">exm.master</param>
          <param desc="tableName">Tasks</param>
          <param desc="commandTimeout">360</param>
          <param desc="numDeadlockAttempts">10</param>
        </databaseTaskProvider>
      </master>
      <web>
        <webDatabaseTaskProvider type="Sitecore.Support.ExM.Framework.DataProviders.SqlDatabaseTaskProvider, Sitecore.Support.218085" singleInstance="true" patch:instead="*[@type='Sitecore.ExM.Framework.DataProviders.SqlDatabaseTaskProvider,Sitecore.ExM.Framework']">
          <param desc="connectionStringName">exm.web</param>
          <param desc="tableName">Tasks</param>
          <param desc="commandTimeout">360</param>
          <param desc="numDeadlockAttempts">10</param>
        </webDatabaseTaskProvider>
      </web>
    </exm>
  </sitecore>
</configuration>